*~
__pycache__/
*.o
lleaves/plusc/first
lleaves/plusc/stack_demo
lleaves/plusc/extending
lleaves/plusc/calling_c
lleaves/plusc/techniques
lleaves/plusc/*.so
pylearn/scikit_sand/tree.dot
pylearn/scikit_sand/tree.png
